h1, h3, h4 {
  font-family: "Georgia";
    font-style: italic;
}

.header {
  margin-left: 20px;
}

p {
  font-family: "Georgia";
  font-size: 16px;
}

/*Mobile Menu*/

#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(51, 204, 102, 1);
}
#custom-bootstrap-menu.navbar-default {
    font-size: 14px;
    background-color: rgba(22, 72, 114, 1);
    border-width: 1px;
    border-radius: 4px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(51, 204, 102, 1);
    background-color: rgba(22, 72, 114, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(33, 154, 248, 1);
    background-color: rgba(22, 72, 114, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(33, 154, 248, 1);
    background-color: rgba(51, 204, 102, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #33cc66;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #33cc66;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #33cc66;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #164872;
}
